<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FLASK APPLICATION{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon/pen.png') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('app.home') }}">
            <div class="flex">
                <img src="../static/icon/pen.png" alt="">
                <p>Voiccer</p>
            </div>
        </a>
        <nav>
            <ul>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('app.voice') }}">ボイス投稿</a></li>
                <li><a href="{{ url_for('app.user') }}">ユーザ情報変更</a></li>
                <li class="log"><a href="{{ url_for('app.logout') }}">ログアウト</a></li>
                {% else %}
                <li class="log"><a href="{{ url_for('app.login') }}">ログイン</a></li>
                <li class="log"><a href="{{ url_for('app.register') }}">新規登録</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <p>© 2023 Kubo Yuto</p>
    </footer>
</body>
</html>