{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
パスワード再発行 - {{ super() }}
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
<h1>パスワード再発行画面</h1>
<div class="row">
    <form method="POST">
        {{ form.csrf_token }}
        <div class="form_item">
            <p class="form_item_label">
                <span class="form_item_label_required">必須</span>メールアドレス
            </p>
            {{ render_field(form.email, class_="form_item_input") }}
        </div>
        <div class="form_item_btn">
            {{ form.submit(class_="form_btn") }}
        </div>
    </form>
</div>
{% endblock %}