{% extends "base.html" %}
{% block title %}
ホーム - {{ super() }}
{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
    {% if current_user.picture_path is none%}
        <img class="icon-small" src="{{ url_for('static', filename='noimage.png') }}">
    {% else %}
        <img class="icon-small" src="{{ url_for('static', filename=current_user.picture_path) }}">
    {% endif %}
        <p>ユーザ名：{{ current_user.username }}</p>
    <p>メールアドレス：{{ current_user.email }}</p>
    {% for voice in voices[::-1] %}
    <article>
        <h2>{{ voice.title }}</h2>
        {% if voice.picture_path is none%}
            <img class="voice-icon" src="{{ url_for('static', filename='noimage.png') }}">
        {% else %}
            <img class="voice-icon" src="{{ url_for('static', filename=voice.picture_path) }}" alt="">
        {% endif %}
        <p>{{ voice.voice }}</p>
    </article>
    {% endfor %}
{% else %}
    <p>ログイン or 新規登録をしてくだちい</p>
{% endif %}
{% endblock %}