{% extends "base.html" %}
{% block title %}
マイページ - {{ super() }}
{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
    <h1>{{ current_user.username }}さんのプロフィール</h1>
    {% if current_user.picture_path is none%}
        <img class="icon-small" src="{{ url_for('static', filename='noimage.png') }}">
    {% else %}
        <img class="icon-small" src="{{ url_for('static', filename=current_user.picture_path) }}">
    {% endif %}
    <p>ユーザ名：{{ current_user.username }}</p>
    <p>メールアドレス：{{ current_user.email }}</p>
    <a href="{{ url_for('app.change_user_info', id=current_user.id) }}">ユーザ情報変更</a>

    <h1>{{ current_user.username }}さんのボイス一覧</h1>
    <div class="flex-container">
    {% for voice in voices[::-1] %}
        <div class="flex-item wrapper card_radius">
            <article class="card">
                <div class="card_title">
                    <p>{{ voice.title }}</p>
                </div>
                <div class="card_body">
                    <p class="card_text">{{ voice.voice }}</p>
                </div>
                <figure class="card_thumbnail">
                    {% if voice.picture_path is none%}
                        <img class="voice-icon" src="{{ url_for('static', filename='noimage.png') }}">
                    {% else %}
                        <img class="voice-icon" src="{{ url_for('static', filename=voice.picture_path) }}" alt="">
                    {% endif %}
                </figure>
                {% if current_user.id == voice.from_user_id %}
                    <a href="{{ url_for('app.update_voice', id=voice.id) }}">編集</a>
                    <a href="{{ url_for('app.delete_voice', id=voice.id) }}">削除</a>
                {% endif %}
            </article>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>ログイン or 新規登録をしてくだちい</p>
{% endif %}
{% endblock %}