{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
    ボイス編集画面 - {{ super() }}
{% endblock %}
{% block content %}
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}

    {% if current_user.picture_path %}
    <img class="icon-big" src="{{ url_for('static', filename=current_user.picture_path) }}" alt="">
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form_item">
            <p class="form_item_label">
                <span class="form_item_label_required">必須</span>タイトル
            </p>
            {{ render_field(form.title, value=voice.title, class_="form_item_input") }}
        </div>
        <div class="form_item">
            <p class="form_item_label">
                <span class="form_item_label_required">必須</span>本文
            </p>
            {{ render_field(form.voice, value=voice.voice, class_="form_item_textarea") }}
        </div>
        <div class="form_item">
            <p class="form_item_label">
                画像
            </p>
            <div class="form_file">
                {{ render_field(form.picture_path, value=voice.picture_path) }}
            </div>
        </div>
        <div class="form_item_btn">
            {{ form.submit(class_="form_btn") }}
        </div>
    </form>
{% endblock %}