{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
    ボイス編集画面 - {{ super() }}
{% endblock %}
{% block content %}
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}

    {% if current_user.picture_path %}
    <img class="icon-big" src="{{ url_for('static', filename=current_user.picture_path) }}" alt="">
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ render_field(form.title, value=voice.title) }}
        {{ render_field(form.voice, value=voice.voice) }}
        {{ render_field(form.picture_path, value=voice.picture_path) }}
        {{ form.submit() }}
    </form>
{% endblock %}