{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
    ボイス投稿画面 - {{ super() }}
{% endblock %}
{% block content %}
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
    <h1>ボイス投稿</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form_item">
            <p class="form_item_label">
                <span class="form_item_label_required">必須</span>タイトル
            </p>
            {{ render_field(form.title) }}
        </div>
        <div class="form_item">
            <p class="form_item_label">
                <span class="form_item_label_required">必須</span>本文
            </p>
            {{ render_field(form.voice) }}
        </div>
        <div class="form_item">
            <p class="form_item_label">
                画像
            </p>
            {{ render_field(form.picture_path) }}
        </div>
        {{ form.submit(class_="form_btn") }}
    </form>
{% endblock %}